## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 69.2 MB/s eta 0:00:00:00:010:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=9defa61f604eb37cc0645b7a2ce4eb8873999834e1f32a544fc6b36bca7a545f
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
#Please uncomment and execute the code below if you are working locally.

#!pip install ipython-sql

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

**Note:This below code is added to remove blank rows from table**

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [8]:
%sql SELECT DISTINCT "Launch Site" FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('Launch Site',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [9]:
%sql SELECT * FROM SPACEXTBL WHERE "Launch Site" LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [10]:
%sql SELECT SUM("Payload Mass (kg)") AS "Total Payload Mass" FROM SPACEXTBL WHERE "Booster Version" = 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(None,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [11]:
%sql SELECT AVG("Payload Mass (kg)") AS "Average Payload Mass" FROM SPACEXTBL WHERE "Booster Version" = 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(None,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [12]:
%sql SELECT MIN("Date") AS "First Successful Landing Date" FROM SPACEXTBL WHERE "Landing Outcomes" = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[(None,)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [13]:
%sql SELECT "Booster Version" FROM SPACEXTBL WHERE "Landing Outcomes" = 'Success (drone ship)' AND "Payload Mass (kg)" > 4000 AND "Payload Mass (kg)" < 6000;

 * sqlite:///my_data1.db
Done.

[]

### Task 7




##### List the total number of successful and failure mission outcomes

In [14]:
%sql SELECT "Mission Outcome", COUNT(*) AS "Total" FROM SPACEXTBL WHERE "Mission Outcome" IN ('Success', 'Failure') GROUP BY "Mission Outcome";

 * sqlite:///my_data1.db
Done.

[]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [16]:
%sql SELECT "Booster Version" FROM SPACEXTBL WHERE "Payload Mass (kg)" = (SELECT MAX("Payload Mass (kg)") FROM SPACEXTBL);

 * sqlite:///my_data1.db
Done.

[('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [ ]:
%sql SELECT strftime('%Y', Date) AS "Year", CASE WHEN substr(Date, 6, 2) = '01' THEN 'January' WHEN substr(Date, 6, 2) = '02' THEN 'February' WHEN substr(Date, 6, 2) = '03' THEN 'March' WHEN substr(Date, 6, 2) = '04' THEN 'April' WHEN substr(Date, 6, 2) = '05' THEN 'May' WHEN substr(Date, 6, 2) = '06' THEN 'June' WHEN substr(Date, 6, 2) = '07' THEN 'July' WHEN substr(Date, 6, 2) = '08' THEN 'August' WHEN substr(Date, 6, 2) = '09' THEN 'September' WHEN substr(Date, 6, 2) = '10' THEN 'October' WHEN substr(Date, 6, 2) = '11' THEN 'November' WHEN substr(Date, 6, 2) = '12' THEN 'December' END AS "Month", "Landing Ou

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [ ]:
%sql SELECT "Landing Outcomes", COUNT(*) AS "Count" FROM SPACEXTBL WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY "Landing Outcomes" ORDER BY "Count" DESC;